@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&Nanum+Gothic:wght@700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #7c5dff;
	--primary-dark: #383a55;
	--white: #f9f8fd;
	--typo: #272830;
	--typo-light: #272830cc;
	--typo-lighter: #27283085;
	--green: #34d69f;
	--green-light: #34d69f14;
	--orange: #ff8d02;
	--orange-light: #ff8d0217;
	--dark: #111115;
	--dark-light: #27283012;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

button,
input,
textarea {
	font-family: 'Nanum Gothic', sans-serif;
}
button {
	cursor: pointer;
}

.container {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	background-color: #fff;
	padding: 2em;
	margin: 5em auto;
	width: 95%;
	max-width: 600px;
}
