@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #7c5dff;
	--primary-dark: #383a55;
	--white: #f9f8fd;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
